header {
    background-color: grey;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

footer {
    background-color: grey;
    border-radius: 8px;
    color: white;
    padding: 6px;
}